body{
  padding-top: 70px;
  background: url('../img/magmalava.jpg')no-repeat center center fixed;
  background-size: cover;
  color: #fff;
}

a{
  color: #fff;
}

a:hover{
  color: #ccc;
}

.uses{
  font-size: .7em;
  text-decoration: underline;

}

#welcome{
  font-size: 2em;
}

/*typeface styles*/

.caption h3,
.caption p{
  color: #fff;
}

.pdesc{
  background: rgba(0, 0, 0, .5);
}

h1 {
    font-family: 'Amatic SC', cursive;
    font-weight: 700;
    line-height: 46px;
    font-size: 46px;
    margin: 0 0 23px 0;
    }
h2, h3{
  font-family: 'Amatic SC', cursive;
  line-height: 46px;
  font-size: 46px;
}
p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    line-height: 23px;
    margin: 1em;
    }
li, .navbar-brand{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 1em;
}

.navbar-brand{
  font-size: 1.5em;
}

.sectionHead{
  text-decoration: underline;
  margin-bottom: 55px;
}


/*jumbotron*/

#introtext{
  margin-top: 75px;
}

.jumbotron h1{
  text-shadow: 2px -3px 3px rgba(0, 0, 0, .4);
}


.jumbotron p{
  background: rgba(0, 0, 0, .5);
  padding: 15px 10px;
  line-height: 1.5em;
}

.jumbotron{
  /*background: rgba(255, 255, 255, .4);*/
  background: transparent;
}

/*projects section*/
.thumbnail{
  border: none;
  background: none;
}

.btn{
  font-size: 1.3em;
}


.img-thumbnail{
  box-shadow: 2px 2px 3px rgba(0, 0, 0, .8);
}
